data/mini-imagenet-test/
data/mini-imagenet-test.tar
**/**/*.pyc
lambda/class_lambda.zip
lambda/test_lambda.zip
lambda/class_package_build*/
lambda/_pip_tmp*/

__pycache__/
*.pyc

venv/
.env
*.env
*.pem
*.key
*credentials*.csv
*.tmp

.vscode/
.idea/
.DS_Store